body{
    background-color: #C9EEFF;
    font-family: 'IBM Plex Serif', serif;
    color: black;
  
    
}
li{
    margin-left: 2rem;
}
#menubar{
    background-color: #97DEFF;
}
.heading{
    font-weight: bold;
}
/* .buttons{
    display: inline-table;
} */


.nav-item{
    padding 0 18px;
}

img.image1:hover{
    width: 31%;
    height: 31%;
 }
/* home page */
/* #home{
   height: 100vh;
   width: 100vh; 
} */
.carousel-inner{
    /* background-color: #97DEFF; */
}
.carousel1{
    width: 100%;
    height: 700px;
    background-image: url('pexels-pixabay-207305.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.carousel2{
    width: 100%;
    height: 700px;
    background-image: url('amy-perring-u2wFpXepZ1A-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .carousel3{
    width: 100%;
    height: 700px;
    background-image: url('oneisha-lee-tQdNXd-6xao-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  /* about rides */
  #rides{
    background-color: #97DEFF;
    padding: 1rem;
    margin: 2rem 0;
  }
  
  .ridesabout{
    margin: 3rem ;

  }
  .eachRide{
    padding: 1rem;
    margin: 0.5rem;
    height: auto;
    /* background-color: #98DFD6; */
  }

  /* shope */
   #shop{
       padding: 2%;
       
   }
   .pricing-coloumn{
       padding: 3% 2%;
   
   }
   .section-heading{
       font-size: 3rem;
       line-height: 1.5;
   }
   .price-text{
       font-size: 3rem;
       line-height: 1.5;
   }

   /* about */
   #contact{
    background-color: #97DEFF;
    text-align: center;
    padding: 3%;
   }
   /* footer */
   #footer{
    font-size: large;
    padding: 2%;
    background-color: #97DEFF;
    text-align: center;
    
    }
    .social-icon {
        margin: 20px 10px;
    }
    .footer1{
        color: #343a40;
    }